# Application
APP_ENV=prod
AWS_DEFAULT_REGION=eu-west-3

# S3 data lake
S3_BUCKET=lakehouse-assurance-moto-prod

# EMR Serverless (set by Terraform output)
EMR_APPLICATION_ID=
EMR_EXECUTION_ROLE_ARN=
LAKEHOUSE_WHL_S3=s3://lakehouse-assurance-moto-prod/artifacts/lakehouse-latest.whl
SPARK_CONF_S3=s3://lakehouse-assurance-moto-prod/config/spark-defaults-emr.conf

# Airflow (set in user_data)
AIRFLOW_IMAGE=
AIRFLOW_DB_CONN=
AIRFLOW_BROKER_URL=
AIRFLOW_RESULT_BACKEND=
AIRFLOW_FERNET_KEY=
AIRFLOW_WEBSERVER_SECRET_KEY=

# Logging
LOG_LEVEL=INFO
LOG_FORMAT=json
