bucket         = "YOUR_TERRAFORM_STATE_BUCKET"
key            = "envs/migration/terraform.tfstate"
region         = "YOUR_AWS_REGION"
dynamodb_table = "YOUR_TERRAFORM_LOCK_TABLE"
encrypt        = true
