aws_region   = "eu-west-3"
environment  = "staging"
project_name = "lakehouse-assurance"

ssh_cidr_blocks = ["X.X.X.X/32"]

ec2_instance_type = "t3.large"
ec2_key_name      = "REPLACE_WITH_YOUR_KEYPAIR"

enable_https        = true
alb_certificate_arn = "arn:aws:acm:eu-west-3:123456789012:certificate/REPLACE_ME"

s3_bucket_name = "lakehouse-assurance-staging-REPLACE_ME_UNIQUE"
