aws_region   = "eu-west-3"
environment  = "prod"
project_name = "lakehouse-assurance"

vpc_cidr             = "10.0.0.0/16"
public_subnet_cidrs  = ["10.0.1.0/24", "10.0.2.0/24"]
private_subnet_cidrs = ["10.0.11.0/24", "10.0.12.0/24"]

# SECURITY: lock these down for prod
allowed_ingress_cidr_blocks = ["0.0.0.0/0"]   # ALB ingress (ideally your office/VPN IPs)
ssh_cidr_blocks             = ["X.X.X.X/32"]  # SSH to EC2 (strict /32)

ec2_instance_type    = "t3.large"
ec2_key_name         = "REPLACE_WITH_YOUR_KEYPAIR"
ec2_root_volume_size = 80

repo_url       = "https://github.com/Faissal-496/serverless-lakehouse-pipeline.git"
repo_branch    = "migration_prod"
host_repo_path = "/opt/serverless-lakehouse-pipeline"

airflow_domain = "airflow.octaa.tech"
jenkins_domain = "jenkins.octaa.tech"

enable_https        = true
alb_certificate_arn = "arn:aws:acm:eu-west-3:123456789012:certificate/REPLACE_ME"

s3_bucket_name               = "lakehouse-assurance-prod-REPLACE_ME_UNIQUE"
s3_enable_versioning         = true
s3_enable_encryption         = true
s3_kms_key_enabled           = false
s3_enable_access_logging     = true
s3_lifecycle_days_to_ia      = 30
s3_lifecycle_days_to_glacier = 180

rds_instance_class        = "db.t3.medium"
rds_allocated_storage     = 20
rds_max_allocated_storage = 200
rds_backup_retention_days = 7
rds_multi_az              = true
rds_force_ssl             = true
rds_engine_version        = "15.3"
rds_database_name         = "lakehouse_prod"
rds_master_username       = "lakehouse_admin"
# rds_master_password     = "SET_ME_OR_LEAVE_EMPTY_TO_AUTO_GENERATE"
rds_publicly_accessible = false
rds_deletion_protection = true

enable_secrets_manager = true

airflow_admin_user = "admin"
# airflow_admin_password = "SET_ME_OR_LEAVE_EMPTY_TO_AUTO_GENERATE"
airflow_admin_email = "admin@example.com"
# airflow_fernet_key = "SET_ME_OR_LEAVE_EMPTY_TO_AUTO_GENERATE"
# airflow_webserver_secret_key = "SET_ME_OR_LEAVE_EMPTY_TO_AUTO_GENERATE"

jenkins_admin_user = "admin"
# jenkins_admin_password = "SET_ME_OR_LEAVE_EMPTY_TO_AUTO_GENERATE"

tags = {
  ManagedBy    = "Terraform"
  Owner        = "data-platform"
  Confidential = "yes"
}

additional_tags = {
  CostCenter = "insurance-analytics"
}
